<div class="center hero-unit">
    <h1>Welcome to the</h1>
    <h1>Twitter Search App</h1>

  <h2>This is the home page for the Twitter Actress Search Application.</h2>
  <%= form_tag("/twitter_lookup_page/result", method: "post") do %> 
      <%= label_tag 'Actress:' %>
      <%= text_field_tag "actress_name", 'Enter actress name...',
          :onclick => 'if($(this).val()=="Enter actress name..."){$(this).val("");};' %>
      <%= submit_tag "Search", class: "btn btn-large btn-primary" %>
  <% end %>

</div>

<%= link_to image_tag("http://www.wipl.com/wp-content/uploads/2013/07/ruby.png", alt: "Rails") %>
